<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    "nuget-feed" is the local NuGet feed for developer versions of Abc.Maybe.
    "nuget-cache" contains preinstalled packages for these packages.
    See Invoke-Publish in pack.ps1.
    This is done to avoid polluting the global cache w/ them.
    https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#fallbackpackagefolders-section
  -->
  <packageSources>
    <add key="local" value="..\__\nuget-feed\" />
  </packageSources>
  <fallbackPackageFolders>
    <add key="local" value="..\__\nuget-cache\"/>
  </fallbackPackageFolders>
</configuration>